<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Guest Registration App</title>
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
        <style>
            .nav-item{ 
                margin-right:5px;
                padding:0px 1em;
                background-color: rgb(255, 212, 0)
            }
            .nav-item:hover{ 
                
                background-color: #DAE0F2;
            }
            .nav-item a{
                color:black !important;
                
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-danger fixed" >
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!" style='color:white'>Guest Reg App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" style='justify-content: flex-end;  width:100%'>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('check_availability')}}">Test Pages</a></li>

                        {% if session.get('user') == None %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login')}}">Login</a></li>
                        {% endif %}


                        {% if session.get('user') != None %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> My Pages  </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Edit Profile</a></li>
    <a href="{{ url_for('paycash')}}" 
    class="list-group-item">Donate Cash Gift (Server)</a>
            <li><a class="dropdown-item" href="{{ url_for('donatecash')}}">Cash Gift</a></li>
            <li><a class="dropdown-item" href="{{ url_for('gift')}}">Gift Registry</a></li>
            <li><hr class="dropdown-divider" /></li>
           
            
            
            <li><a class="dropdown-item" href="{{ url_for('logout')}}"> Log out</a></li>
        </ul>
    </li>
                        {% endif %}
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-2">
            <div class="container px-4 px-lg-5 my-2">
                <div class="row">
                    <div class="col text-center">
                        <h2>{% block pagetitle %}
                            {% endblock %}
                        </h2>
                        
                    </div>
                </div>
               {% block first_row %}
                <p>The first Row</p>
               {% endblock first_row %}
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-2 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                {% block second_row %}
                <p>Second Row</p>
                {% endblock second_row %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5" style="background-color:#FFD400; height:240px; line-height: 140px;">
            <div class="container"><p class="m-0 text-center text-dark">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
